<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionStringName" connectionString="Data Source=46.189.136.106;Database=smallproducers;User ID=SA;Password=&lt;UmaPass123&gt;;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" />
	</connectionStrings>
</configuration>